<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teacherstudentproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".endpoints.LapitChat"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <service android:name=".service.MyFirebaseMessagingService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <activity android:name=".chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.StudentsActivity"
            android:parentActivityName=".teacher.TeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.request.RequestActivity"
            android:parentActivityName=".teacher.TeacherActivity" />
        <activity android:name=".student.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.AddNewCourseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".teacher.CoursesActivity"/>
        <activity
            android:name=".teacher.CoursesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".teacher.TeacherActivity"/>
        <activity
            android:name=".teacher.PortfolioDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".teacher.TeacherActivity"/>
        <activity
            android:name=".student.StudentProfileActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".student.SelectCoursesActivity"/>
        <activity
            android:name=".student.TeacherDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.TeacherListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.TeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.SelectCoursesActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_api" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_place_api" />

        <activity
            android:name=".signup.SignupActivity"
            android:parentActivityName=".welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:parentActivityName=".welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>